/* *{
    border: 2px solid violet;
} */


.container{
    min-height: 100vh;
    background-color: white;
    padding: 50px;
}
h3{
    padding: 10px;
}
.logo{
    font-size: 20px;
    font-weight: 900;
}
.hero{
    display: flex;
}
.left{
    width: 60%;
    padding: 10px;
}
h1{
    font-size: 60px;
}
.right{
    width: 40%;
}
img{
    width: 100%;
}
button{
    padding: 20px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
}
.card{
    margin: 50px;
    width: 40%;
    background-color: green;
    column-rule: black;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 20px;
    rotate: -5deg;
}
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
  }